USE [DiamondShop]
GO
ALTER TABLE [dbo].[Shells] DROP CONSTRAINT [FK_Shells_Material]
GO
ALTER TABLE [dbo].[Promotions] DROP CONSTRAINT [FKPromotions548842]
GO
ALTER TABLE [dbo].[Promotion Detail] DROP CONSTRAINT [FKPromotion 834178]
GO
ALTER TABLE [dbo].[Promotion Detail] DROP CONSTRAINT [FKPromotion 38027]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FKProducts972135]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FKProducts921990]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FKProducts742937]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FKProducts714382]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Material]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FKOrders927413]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_Status]
GO
ALTER TABLE [dbo].[Order Vouchers] DROP CONSTRAINT [FKOrder Vouc58278]
GO
ALTER TABLE [dbo].[Order Vouchers] DROP CONSTRAINT [FKOrder Vouc54425]
GO
ALTER TABLE [dbo].[Order Detail] DROP CONSTRAINT [FKOrder Deta796814]
GO
ALTER TABLE [dbo].[Order Detail] DROP CONSTRAINT [FKOrder Deta734078]
GO
ALTER TABLE [dbo].[Deliveries] DROP CONSTRAINT [FKDeliveries195386]
GO
ALTER TABLE [dbo].[Deliveries] DROP CONSTRAINT [FKDeliveries117408]
GO
ALTER TABLE [dbo].[Carts_Products] DROP CONSTRAINT [FKCarts_Prod411921]
GO
ALTER TABLE [dbo].[Carts_Products] DROP CONSTRAINT [FKCarts_Prod173166]
GO
ALTER TABLE [dbo].[Carts] DROP CONSTRAINT [FKCarts260125]
GO
ALTER TABLE [dbo].[Accounts] DROP CONSTRAINT [FKAccounts611768]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Status]') AND type in (N'U'))
DROP TABLE [dbo].[Status]
GO
/****** Object:  Table [dbo].[Shells]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Shells]') AND type in (N'U'))
DROP TABLE [dbo].[Shells]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Promotions]') AND type in (N'U'))
DROP TABLE [dbo].[Promotions]
GO
/****** Object:  Table [dbo].[Promotion Detail]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Promotion Detail]') AND type in (N'U'))
DROP TABLE [dbo].[Promotion Detail]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[Order Vouchers]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order Vouchers]') AND type in (N'U'))
DROP TABLE [dbo].[Order Vouchers]
GO
/****** Object:  Table [dbo].[Order Detail]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order Detail]') AND type in (N'U'))
DROP TABLE [dbo].[Order Detail]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Material]') AND type in (N'U'))
DROP TABLE [dbo].[Material]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Image]') AND type in (N'U'))
DROP TABLE [dbo].[Image]
GO
/****** Object:  Table [dbo].[Diamonds]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Diamonds]') AND type in (N'U'))
DROP TABLE [dbo].[Diamonds]
GO
/****** Object:  Table [dbo].[Deliveries]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Deliveries]') AND type in (N'U'))
DROP TABLE [dbo].[Deliveries]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categories]') AND type in (N'U'))
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[Carts_Products]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carts_Products]') AND type in (N'U'))
DROP TABLE [dbo].[Carts_Products]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Carts]') AND type in (N'U'))
DROP TABLE [dbo].[Carts]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/1/2024 10:01:16 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Accounts]') AND type in (N'U'))
DROP TABLE [dbo].[Accounts]
GO
USE [master]
GO
/****** Object:  Database [DiamondShop]    Script Date: 7/1/2024 10:01:16 PM ******/
DROP DATABASE [DiamondShop]
GO
/****** Object:  Database [DiamondShop]    Script Date: 7/1/2024 10:01:16 PM ******/
CREATE DATABASE [DiamondShop]
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiamondShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiamondShop]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [varchar](6) NOT NULL,
	[UserName] [varchar](30) NULL,
	[FullName] [varchar](25) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[PhoneNumber] [int] NULL,
	[Role] [varchar](2) NOT NULL,
	[Address] [varchar](125) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [varchar](3) NOT NULL,
	[AccountID] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts_Products]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts_Products](
	[CartID] [varchar](3) NOT NULL,
	[ProductID] [varchar](6) NOT NULL,
	[ProductName] [varchar](30) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [varchar](3) NOT NULL,
	[CategoryName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deliveries]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliveries](
	[DeliveryID] [varchar](6) NOT NULL,
	[OrderID] [varchar](6) NOT NULL,
	[AccountID] [varchar](6) NOT NULL,
	[Address] [varchar](125) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diamonds]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diamonds](
	[DiamondID] [varchar](3) NOT NULL,
	[CaratWeight] [real] NULL,
	[Color] [varchar](1) NULL,
	[Clarity] [varchar](4) NULL,
	[Cut] [varchar](12) NULL,
	[Price] [real] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiamondID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageID] [varchar](10) NOT NULL,
	[ImageURL] [varchar](2000) NULL,
 CONSTRAINT [PK_Image_1] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialID] [int] NOT NULL,
	[MaterialName] [varchar](50) NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order Detail]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order Detail](
	[OrdersID] [varchar](6) NOT NULL,
	[ProductsID] [varchar](6) NOT NULL,
	[Quantity] [int] NULL,
	[Price] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdersID] ASC,
	[ProductsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order Vouchers]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order Vouchers](
	[OrdersID] [varchar](6) NOT NULL,
	[PromotionsID] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdersID] ASC,
	[PromotionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [varchar](6) NOT NULL,
	[AccountID] [varchar](6) NOT NULL,
	[TotalPrice] [real] NULL,
	[Address] [varchar](125) NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK__Orders__C3905BAF06F4EF69] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [varchar](6) NOT NULL,
	[CategoryID] [varchar](3) NOT NULL,
	[ProductName] [varchar](30) NULL,
	[ProductSize] [int] NULL,
	[ProductPrice] [real] NULL,
	[DiamondID] [varchar](3) NOT NULL,
	[ShellID] [varchar](3) NOT NULL,
	[AccountID] [varchar](6) NOT NULL,
	[MaterialID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Description] [varchar](8000) NULL,
	[ImageLink] [nvarchar](4000) NULL,
 CONSTRAINT [PK__Products__B40CC6ED2435B496] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion Detail]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion Detail](
	[ProductsID] [varchar](6) NOT NULL,
	[PromotionsID] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductsID] ASC,
	[PromotionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [varchar](6) NOT NULL,
	[AccountID] [varchar](6) NOT NULL,
	[PromotionName] [int] NULL,
	[Type] [varchar](30) NULL,
	[Reduction] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [varchar](2) NOT NULL,
	[RoleName] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shells]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shells](
	[ShellID] [varchar](3) NOT NULL,
	[MaterialID] [int] NULL,
	[Name] [varchar](20) NULL,
	[ShellPrice] [real] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShellID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 7/1/2024 10:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] NOT NULL,
	[StatusName] [nchar](25) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FKAccounts611768] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FKAccounts611768]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FKCarts260125] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FKCarts260125]
GO
ALTER TABLE [dbo].[Carts_Products]  WITH CHECK ADD  CONSTRAINT [FKCarts_Prod173166] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Carts_Products] CHECK CONSTRAINT [FKCarts_Prod173166]
GO
ALTER TABLE [dbo].[Carts_Products]  WITH CHECK ADD  CONSTRAINT [FKCarts_Prod411921] FOREIGN KEY([CartID])
REFERENCES [dbo].[Carts] ([CartID])
GO
ALTER TABLE [dbo].[Carts_Products] CHECK CONSTRAINT [FKCarts_Prod411921]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD  CONSTRAINT [FKDeliveries117408] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Deliveries] CHECK CONSTRAINT [FKDeliveries117408]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD  CONSTRAINT [FKDeliveries195386] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Deliveries] CHECK CONSTRAINT [FKDeliveries195386]
GO
ALTER TABLE [dbo].[Order Detail]  WITH CHECK ADD  CONSTRAINT [FKOrder Deta734078] FOREIGN KEY([OrdersID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Order Detail] CHECK CONSTRAINT [FKOrder Deta734078]
GO
ALTER TABLE [dbo].[Order Detail]  WITH CHECK ADD  CONSTRAINT [FKOrder Deta796814] FOREIGN KEY([ProductsID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Order Detail] CHECK CONSTRAINT [FKOrder Deta796814]
GO
ALTER TABLE [dbo].[Order Vouchers]  WITH CHECK ADD  CONSTRAINT [FKOrder Vouc54425] FOREIGN KEY([OrdersID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Order Vouchers] CHECK CONSTRAINT [FKOrder Vouc54425]
GO
ALTER TABLE [dbo].[Order Vouchers]  WITH CHECK ADD  CONSTRAINT [FKOrder Vouc58278] FOREIGN KEY([PromotionsID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[Order Vouchers] CHECK CONSTRAINT [FKOrder Vouc58278]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Status]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FKOrders927413] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FKOrders927413]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([MaterialID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Material]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FKProducts714382] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FKProducts714382]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FKProducts742937] FOREIGN KEY([ShellID])
REFERENCES [dbo].[Shells] ([ShellID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FKProducts742937]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FKProducts921990] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FKProducts921990]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FKProducts972135] FOREIGN KEY([DiamondID])
REFERENCES [dbo].[Diamonds] ([DiamondID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FKProducts972135]
GO
ALTER TABLE [dbo].[Promotion Detail]  WITH CHECK ADD  CONSTRAINT [FKPromotion 38027] FOREIGN KEY([ProductsID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Promotion Detail] CHECK CONSTRAINT [FKPromotion 38027]
GO
ALTER TABLE [dbo].[Promotion Detail]  WITH CHECK ADD  CONSTRAINT [FKPromotion 834178] FOREIGN KEY([PromotionsID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[Promotion Detail] CHECK CONSTRAINT [FKPromotion 834178]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FKPromotions548842] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FKPromotions548842]
GO
ALTER TABLE [dbo].[Shells]  WITH CHECK ADD  CONSTRAINT [FK_Shells_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Material] ([MaterialID])
GO
ALTER TABLE [dbo].[Shells] CHECK CONSTRAINT [FK_Shells_Material]
GO
USE [master]
GO
